NODE_ENV=development
PORT=4002
HOST=0.0.0.0
MONGODB_URI=mongodb+srv://username:password@your-cluster.example.mongodb.net
MONGODB_DB_NAME=najib_inventory
MONGODB_SERVER_SELECTION_TIMEOUT_MS=5000
LOG_LEVEL=info
